* {
  color: #aaacb3;
  font-size: 17px;
  font-family: 'Hahmlet', serif;
}
header {
  background-color: #383c4d;
  text-align: center;
  padding: 20px;
}
body {
  margin: 0;
}
.name {
  font-weight: 400;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: white;
}
.container {
  padding: 5%;
}
.line-break1 {
  width: 100%;
  height: auto;
  border-top: 4px solid black;
  border-bottom: 2px solid black;
  padding: 2px;
}
.intro p {
  color: #b4b8b8;
  text-align: center;
  padding-bottom: 20px;
}
.intro h2 {
  text-align: center;
  color: #101736;
  font-weight: 700;
  font-size: 21px;
  margin-top: 12px;
}
.contact-info h2 {
  color: #101736;
  font-weight: 700;
  font-size: 23px;

}
.contact-info label {
  display: block;
  margin-bottom: 7px;
  margin-top: 10px;
  margin-right: 5px;
}
.contact-info input,
select {
  width: 94%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #e6e6e6;
  border-color: #e6e6e6;
}
input[placeholder="Required"] {
  text-align: right;
  font-style: italic;
}
input:focus {
  text-align: left;
  border: solid 1.5px #383c4d;
}
.state {
  width: 100%;
  max-width: 100%;
}
#zip {
  width: 50%;
}
.line-break2 {
  padding-top: 30px;
  border-bottom: 3px solid black;
}
.bottom-form input {
  width: 5%;
  display: flex;
  margin-top: 14px;
}
.bottom-form label {
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
.newsletter {
  text-align: left;
  color: #aaacb3;
}
textarea {
  max-width: 100%;
  border: none;
  border-radius: 5px;
  background: #e6e6e6;
  border-color: #e6e6e6;
  width: 100%;
}
.text-area {
  margin-top: 15px;
  margin-bottom: 25px;
}
button {
  width: 100%;
  padding: 25px;
  border: none;
  border-radius: 5px;
  color: white;
  background: #6ab0af;
  font-weight: bold;
  font-size: 19px;
}
.copyright {
  text-align: center;
  font-style: italic;
  padding-bottom: 35%;
}
.box {
  display: flex;
  flex-direction: row;
}
fieldset {
  border: none;
  width: 100%;
}

/* Media Query */
@media screen and (min-width: 768px) {

  #zip {

    width: 25%;
  }

  .top-form {
     display: flex;
     flex-flow: row;
     justify-content:flex-start;
     align-items: center;
     width: 100%;
     margin-top: 17px;
     margin-bottom: 17px;
  }
  .t-label {
    display: flex;
    width: 25%;
  }
  .t-input {
    display: flex;
    width: 75%;
  }
.line-break2 {
  padding-top: 30px;
    border-bottom: 3px solid black;
    margin-bottom: 40px;
}
}

}
